body {
    text-align: center;
    background-color: green;
}
canvas {
    transform: rotate(60deg);
}
button {
    margin-top: 40px;
    display: inline;
    background: black;
    background-size: cover;
}